{% extends 'base.html' %}
{% load crispy_forms_tags compressed %}

{% block stylesheets %}
    {{ block.super }}
    {% datatables_bootstrap_css %}
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% crispy form form.helper %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="requests-list" class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block footer_extra_js %}
    {{ block.super }}
    {% js "com_local/js/homepage_table.js" %}
{% endblock %}